body {
    font-family: Comic Sans MS;
    background-color: white;
    color: black;
    font-weight: bold;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: black;
    border: bold;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 8px;
    border-color: white;
}

.button:hover {
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    background-color: black;
}

.mainheading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    text-decoration: underline;
}

.subheading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    font-style: italic;
    text-decoration: underline;
}

.paragraph {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

.horse {
    height: 300px;
    width: 500px;
}

.tablehorse {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}